﻿@model WebApplication1.Web.Models.UserRegisterModel
@{
    ViewBag.Title = "SignUp";
}

<div class="container" align="text-center">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    <p style="text-align: center">Please fill in this form to create an account!</p>
                    @Html.ValidationSummary(true)
                    @using (Html.BeginForm("SignUp", "Authentification", FormMethod.Post, new { @id = "registerForm", @class = "form-signin" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-label-group mb-3">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            @Html.TextBoxFor(m => m.Login, new { type = "email", placeholder = "Email Address", id = "email", name = "email", @class = "form-control" })
                        </div>
                        <div class="form-label-group mb-3">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            @Html.TextBoxFor(m => m.Password, new { type = "password", placeholder = "Password", id = "password", name = "password", @class = "form-control" })
                        </div>
                        <div class="form-label-group mb-3">
                            <span class="input-group-addon">
                                <i class="fa fa-lock"></i>
                                <i class="fa fa-check"></i>
                            </span>
                            @Html.TextBoxFor(m => m.RePassword, new { type = "password", placeholder = "Confirm Password", id = "repassword", name = "repassword", @class = "form-control" })
                        </div>
                        <div class="custom-control custom-checkbox mb-3">
                            <label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="#">Terms of Use</a> &amp; <a href="#">Privacy Policy</a></label>
                        </div>
                        <button type="submit" class="btn btn-lg btn-light btn-block text-uppercase">Sign Up</button>
                    }
                    <div class="text-center">Already have an account? <a href="/Authentification/SignIn">Login here</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

